@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400&display=swap');
/* Image Dimentions: 907 × 1227 */
:root {
    --background-color: #010e11c1; /* #150734 */
    --text-color: #ececec;
    --quote-color: #ececec88;
    --quote-bg-color: #ececec22;
    --url-color: #4baea4;

    --container-color: #071E22;
    --container-height: 80vh;
    --container-width: 72vw;
    --container-height-mobile: 80vh;
    --container-width-mobile: 90vw;
}

* {
    box-sizing: border-box;
}

body {
    color: var(--text-color);
    margin: 0 !important;

    background-color: var(--background-color) ;
    /* font-family: 'Montserrat', 'Georgia','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: medium;

}

a {
    font-weight: 400;
    color: var(--url-color);
    text-decoration: underline;
}
a:hover {
    background-color: var(--quote-bg-color);
}

p {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    line-height: 150%;
}

p.quote {
    background-color: var(--quote-bg-color);
    padding: 1vh 1vw;
    padding-left: 4vw;
    border-left: 6px solid var(--quote-color);
}

p.quote-fa {
    background-color: var(--quote-bg-color);
    padding: 1vh 1vw;
    padding-right: 4vw;
    border-right: 6px solid var(--quote-color);
}

.clickable {
    cursor: pointer;
}
.clickable:hover {
    color: var(--url-color);
}

.container {
    margin: 4vh auto;
    padding: 4vh 4vw;
    border-radius: 4px;
    /* height: var(--container-height); */
    width: var(--container-width);
    max-width: 700px;
    display: flex;
    flex-direction: column;
    background-color: var(--container-color);
    box-shadow: 0px 6px 12px 3px rgba(0,0,0,0.8);
}
#description-container > *:not(:last-child) {
    margin-bottom: 1vh;
}
.subcontainer {
    padding-bottom: 2vh;
    border-bottom: 1px solid var(--text-color);
    margin-bottom: 4vh;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.col {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
.col:not(:last-child) {
    margin-right: 12px;
}

.item {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.item:not(:last-child) {
    margin-bottom: 0vh;
}

.img-container {
    flex: 1;
}
.other-container {
    flex: 8;
}
.col > *:not(:last-child) {
    margin-bottom: 1vh;
}

.item-part {
    width: fit-content;
}

.item-title {
    font-size: xx-large;
    font-weight: bold;
}
.item-title-small {
    font-size: medium;
    font-weight: 400;
}
.horizontal {
    flex-direction: row;
    justify-content: space-between;
}

.item-subtitle {
    font-size: medium;
}
.item-link {
    font-size: medium;
}
.item-date {
    font-size: medium;
    word-break: keep-all;
    min-width: 65px;
    text-align: end;
}
.item-image {
    border-radius: 8px;
    border: 1px var(--text-color) solid;
    box-shadow: 5px 5px 15px 5px black;
}

.italic {
    font-style: italic;
}

@media screen and (max-width: 600px) {
    .item {
        flex-direction: column;
    }

    .col {
        margin-bottom: 2vh;        
    }
    
    .container {
        /* height: var(--container-height-mobile); */
        width: var(--container-width-mobile);
        margin: 4vh auto;
    }
}